select {
    appearance: none;
    font-size: 1.1em;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #3F3D56;
    background-image: none;
  }

  select::-ms-expand {
    display: none;
  }

  .select {
    margin-bottom: 3em;
    position: relative;
    display: flex;
    height: 3em;
    line-height: 3;
    background: #3F3D56;
    overflow: hidden;
  }

  select {
    flex: 1;
    padding: 0.5em;
    color: #fff;
    cursor: pointer;
  }

  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #3F3D56;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }

  .select:hover::after {
    color: #C66EC9;
  }
  